# Kaggle dataset for bestsellers in Amazon

In [174]:
import pandas as pd
df = pd.read_csv("./bestsellers.csv")

In [175]:
df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,5000 Awesome Facts (About Everything!) (Nation...,National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [176]:
#removing duplicates
df1=df
#i=0
#for value in df1.duplicated(subset='Name', keep='first'): 
#    if value == True:
#        df1 =  df1.drop([i])
#        i+=1
#    else:
#        i+=1

In [177]:
df1

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,5000 Awesome Facts (About Everything!) (Nation...,National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [178]:
#df1.duplicated()

In [179]:
# removing collumns that I don't need
df2 = df1.drop(['Author','Reviews'],axis=1)
df2

,Name,User Rating,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,4.7,8,2016,Non Fiction
1,11/22/63: A Novel,4.6,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,4.7,15,2018,Non Fiction
3,1984 (Signet Classics),4.7,6,2017,Fiction
4,5000 Awesome Facts (About Everything!) (Nation...,4.8,12,2019,Non Fiction
...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),4.9,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,4.7,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,4.7,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,4.7,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,4.7,8,2019,Non Fiction

In [180]:
df2.dtypes

Name            object
User Rating    float64
Price            int64
Year             int64
Genre           object
dtype: object

In [181]:
df3=df2
df4 = df3.sort_values(by='User Rating', ascending=False)
df4

,Name,User Rating,Price,Year,Genre
431,The Magnolia Story,4.9,5,2016,Non Fiction
87,Dog Man: Lord of the Fleas: From the Creator o...,4.9,6,2018,Fiction
85,Dog Man: Fetch-22: From the Creator of Captain...,4.9,8,2019,Fiction
84,Dog Man: Brawl of the Wild: From the Creator o...,4.9,4,2019,Fiction
83,Dog Man: Brawl of the Wild: From the Creator o...,4.9,4,2018,Fiction
...,...,...,...,...,...
22,Allegiant,3.9,13,2013,Fiction
107,Fifty Shades of Grey: Book One of the Fifty Sh...,3.8,14,2013,Fiction
106,Fifty Shades of Grey: Book One of the Fifty Sh...,3.8,14,2012,Fiction
132,Go Set a Watchman: A Novel,3.6,19,2015,Fiction
353,The Casual Vacancy,3.3,12,2012,Fiction

In [182]:
df4.isnull().values.any()

False

In [183]:
#is it possible given a genre/year, to predict the user rating?
y = df4['User Rating']
df5 = df4
df5["Genre"]= df5["Genre"].str.replace("Non Fiction", "1")
df5["Genre"]= df5["Genre"].str.replace("Fiction", "0")

# now fiction is 0 and non fiction is 1 

x = df5.drop(['User Rating','Name',"Price"],axis=1)

pd.reset_option("max_rows")
print(y)
print(x)

431    4.9
87     4.9
85     4.9
84     4.9
83     4.9
      ...
22     3.9
107    3.8
106    3.8
132    3.6
353    3.3
Name: User Rating, Length: 550, dtype: float64
     Year Genre
431  2016     1
87   2018     0
85   2019     0
84   2019     0
83   2018     0
..    ...   ...
22   2013     0
107  2013     0
106  2012     0
132  2015     0
353  2012     0

[550 rows x 2 columns]

In [184]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(x,y)
predictions = model.predict([[ 2012,0], [2010,0]])
predictions

array([4.4952381, 4.615    ])

In [185]:
# this prediction is telling me that people that like non fiction books
# have a preference for books that were published in 2010 
# rather than the ones from 2012

In [186]:
predictions = model.predict([[ 2012,0], [2012,1]])
predictions

array([4.4952381 , 4.55862069])

In [187]:
# this prediction tells me that people liked more fiction books from 2012 
# than the non fiction ones
predictions = model.predict([[2014,0], [2013,0], [2012,0], [2011,0], [2010,0], [2009,0],])
predictions

array([4.63103448, 4.54583333, 4.4952381 , 4.61904762, 4.615     ,
       4.59166667])